<div class="login">
   <div class="loginContent w-75 shadow p-5 container">
        <div class="row">
            <div class="col-6 p-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <i class="fa-solid fa-hands-praying fs-2" style="color: #c61071;"></i>
                    <h3 style="color: #d5106f;">Welcome User</h3>
                </div>
                <div>
                    <form [formGroup]=" loginForm" (ngSubmit)="login()" class="d-flex align-items-center justify-content-center flex-column">
                        <input  type="email" class="form-control mt-3" placeholder="enter email Id" formControlName="email" name="email">
                        <span class="text-warning" *ngIf=" loginForm.get('email')?.errors &&  loginForm.get('email')?.touched">Invalid Email</span>

                        <input type="password" class="form-control mt-2" placeholder="enter password" formControlName="password" name="password">
                        <span class="text-warning"  *ngIf=" loginForm.get('password')?.errors &&  loginForm.get('password')?.touched">Invalid Password</span>

                        <button class="btn mt-4 w-75" style="background-color: #d5106f;color: white;">Login</button>
                        <p class="mt-4 d-flex align-items-center justify-content-center  ">New user? Please<a class="nav-link active ms-2 text-primary" routerLink="/user/register"><span>Register</span></a></p>
                    </form>
                </div>
            </div>
            <div class="col-6 p-2">
                <img src="https://t4.ftcdn.net/jpg/04/72/44/67/360_F_472446747_AmtV7OdEJVyzVRFsVTjVHhIiFV00bMNr.jpg" width="100%" height="100%" alt="">
            </div>
        </div>
   </div>
</div>